{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Home{% endblock %}
{% block body %}
    <h1>IT Shop</h1>
    <h2>Everything for it !</h2>
    <div class="icons">
        <span class="icon"></span>
        <span class="icon"></span>
        <span class="icon"></span>
    </div>
{% endblock %}
